importFrom("magrittr", `%>%`)
importFrom("tibble", tibble)
importFrom("dplyr",
  filter, select, mutate, 
  left_join, bind_rows,
  group_by, rowwise, ungroup,
  arrange, first,
  pull, n, if_else
  )
importFrom("tidyr",
  expand_grid, crossing
  )
importFrom("stringr", 
  str_length, str_split, str_detect, str_replace)

exportPattern("^download_")
exportPattern("^prepare_")
export("pretty_wales_ish_map")
export("check_test_journeys")
